<!DOCTYPE html>
<html>
    <script src="./w3.js"></script>
    <body>
        <p>Register</p>
        <div>
            <input name="name" type="email" id="name" placeholder="name" />
            <input name="pass" type="text" id="pass" placeholder="pass" />
            <button onclick="onRegister()">Register</button>
        </div>
        <p>Create Transaction</p>
        <div>
            <input name="coin" type="number" id="coin" placeholder="coin" />
            <select
                name="sender"
                type="text"
                id="sender"
                placeholder="sender"
                style="width: 200px"
            ></select>
            <select
                name="receiver"
                type="text"
                id="receiver"
                placeholder="receiver"
                style="width: 200px"
            ></select>
            <button onclick="onSend()">Send</button>
            <div>
                <p></p>
                <textarea id="send_data" rows="8" placeholder="data"></textarea>
            </div>
            <div
                id="response"
                style="position: fixed; width: 100%; left: 0px; bottom: 20px; padding: 10px"
            >
                <p>
                    <button onclick="w3.hide('#res')">hide</button
                    ><button onclick="w3.show('#res')">show</button>
                </p>
                <textarea id="res" style="width: 90%; min-height: 200px">
                </textarea>
            </div>
        </div>
        <p>
            Wallet
            <button onclick="onGetAllWallet()">refresh</button>
        </p>
    </body>
    <script>
        // html element
        const coinInput = document.getElementById('coin')
        const sender = document.getElementById('sender')
        const receiver = document.getElementById('receiver')
        const send_data = document.getElementById('send_data')
        const resDiv = document.getElementById('res')
        const nameInput = document.getElementById('name')
        const passInput = document.getElementById('pass')
        const response = document.getElementById('response')
        const select = document.getElementById('address-select')

        let isShow = true

        // wallet data
        const wallet = {}

        // create transaction
        function onSend() {
            const url = `/send?value=${coinInput.value}&sender=${
                sender.value
            }&receiver=${receiver.value}&data=${JSON.stringify(send_data.value)}`
            fetch(url)
                .then((res) => res.text())
                .then((data) => {
                    console.log(data)
                    resDiv.innerText = data
                    resDiv.style.color = 'green'
                })
                .catch((err) => {
                    console.error(err)
                    resDiv.innerText = err
                    resDiv.style.color = 'red'
                })
        }

        // register wallet
        function onRegister() {
            const url = `/register?name=${nameInput.value}&pass=${passInput.value}`
            fetch(url)
                .then((res) => res.text())
                .then((data) => {
                    console.log(data)
                    resDiv.innerText = data
                })
                .catch((err) => {
                    resDiv.innerText = err
                    resDiv.style.color = 'red'
                })
        }

        // on get all wallet address
        function onGetAllWallet() {
            const url = `/wallet`
            fetch(url)
                .then((res) => res.text())
                .then((data) => {
                    const nData = JSON.parse(data)
                    Object.keys(nData).forEach((k) => {
                        receiver.appendChild(new Option(k))
                        sender.appendChild(new Option(k))
                    })
                    resDiv.innerText = data
                })
                .catch((err) => {
                    resDiv.innerText = err
                    resDiv.style.color = 'red'
                })
        }

        function onGetWithAddress(address) {
            const url = `/wallet?address=${address}`
            fetch(url)
                .then((res) => res.text())
                .then((data) => {
                    const dt = data
                    console.log(data)
                    resDiv.innerText = data
                })
                .catch((err) => {
                    resDiv.innerText = err
                    resDiv.style.color = 'red'
                })
        }

        function hiddenResponse() {
            if (isShow) {
                resDiv.style.display = 'none'
            } else {
                resDiv.style.display = 'block'
            }

            isShow = !isShow
        }

        onGetAllWallet()
    </script>
</html>
